config mode 'main'
	option mode 'wg'
	option wg_if 'wg0'
	option awg_if 'awg0'
	option wwan_if 'wwan'
	option wg_endpoint '203.0.113.10'
	option awg_endpoint '203.0.113.10'
	option wg_port '51820'
	option awg_port '51821'
	option probe_ip '10.0.0.53'
	option wg_admin_net '10.8.1.0/24'
	option awg_admin_net '10.8.2.0/23'
	option auto_failover '0'
